#image {
  width: 1000px;
  height: 600px;
}

.kar {
  position: relative;
}

.none {
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid white;
}

.lab:hover {
  background-color: rgb(222, 199, 171);
}
